body {
    font-family: Arial, sans-serif;
    
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#showFormButton {
    background-color: #3498db;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    transition: background-color 0.3s ease;
}

#showFormButton:hover {
    background-color: #2980b9;
}

#contactForm {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s ease-out;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

.form-control {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #3498db;
    background-color: #fff;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

textarea {
    height: 150px;
    resize: vertical;
}

/* Animación para el formulario */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Asegurarse de que el formulario sea responsivo */
@media (max-width: 768px) {
    #contactForm {
        padding: 20px;
        max-width: 90%;
    }
}
